/build/
/dist/
/proguard/
/nbproject/private/
/nbproject/cfg_hints.xml
/.nb-gradle/
/.gradle/
/stream/target/
/stream/build/
/stream/out/
/streamTest/target/
/streamTest/build/
/streamTest/out/
/.idea/
*.iml
local.properties

